body {
  background-color: #ffffff;
  margin: 0; }

ul {
  -webkit-padding-start: 0px; }

.nav-menu {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  transition: all 0.4s linear;
  display: flex;
  align-items: center; }

.nav-logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.5rem;
  text-decoration: none; }

.nav-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none; }

.menu-item {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  color: #000000; }

.menu-item:hover {
  color: #DC143C !important; }

.startwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px; }

#start {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/starter1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.startlogo {
  position: relative;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 10rem;
  margin-left: 1200px;
  opacity: 0; }

#info {
  width: 100%;
  height: 100%; }

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.info {
  width: 60rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.info-text {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 2rem;
  text-align: center; }

.hidden {
  display: none; }

.info-logo {
  width: 40rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.appstore {
  width: 17rem;
  height: 5rem;
  background-image: url("../img/appstorelogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.googleplay {
  width: 17rem;
  height: 5rem;
  background-image: url("../img/googleplay.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

#teasers {
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagewrapper {
  width: 100%;
  height: 30rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.imageparent {
  width: 100%;
  height: 30rem;
  overflow: hidden; }

.imagecard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../img/workstation.png");
  background-size: cover;
  background-position: center;
  transition: all 1.5s ease; }

.imagecard:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75); }

.imageparent:hover .imagecard,
.imageparent:focus .imagecard {
  transform: scale(1.2); }

.imageparent:hover .imagecard:before,
.imageparent:focus .imagecard:before {
  display: block; }

span {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  z-index: 1; }

footer {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.footer-logo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.contact-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: bold; }

.mini-logowrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem; }

.mini-logo {
  width: 40px;
  height: 40px;
  margin: 0.2rem; }

.insta {
  background-image: url("../img/insta.png");
  background-size: cover;
  background-repeat: no-repeat; }

.face {
  background-image: url("../img/facebook.png");
  background-size: cover;
  background-repeat: no-repeat; }

.git {
  background-image: url("../img/github.png");
  background-size: cover;
  background-repeat: no-repeat; }

.twitter {
  background-image: url("../img/twitter.png");
  background-size: cover;
  background-repeat: no-repeat; }

@media only screen and (max-width: 500px) {
  .nav-menu {
    width: 100%;
    height: 3.5rem;
    transition: all 0.4s linear; }

  .menu-item {
    font-size: 1rem; }

  .startwrapper {
    display: flex;
    justify-content: center;
    align-items: center; }

  #start {
    height: 50vh;
    width: 100%; }

  .startlogo {
    font-size: 3rem; }

  .info {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center; }

  .info-text {
    font-size: 1.5rem; }

  .info-logo {
    width: 22rem;
    height: 3rem; }

  .appstore {
    width: 10rem;
    height: 3rem; }

  .googleplay {
    width: 10rem;
    height: 3rem; }

  span {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
