body {
  background-color: #eee;
  margin: 0; }

.nav-menu {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  transition: all 0.4s linear; }

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none; }

.menu-item {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #000000; }

.startwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px; }

#start {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/starter1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.startlogo {
  position: relative;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 10rem;
  margin-left: 1200px;
  opacity: 0; }

#info {
  width: 100%;
  height: 100%; }

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.info {
  width: 60rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.info-text {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 2rem;
  text-align: center; }

.hidden {
  display: none; }

.info-logo {
  width: 40rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.appstore {
  width: 17rem;
  height: 5rem;
  background-image: url("../img/appstorelogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.googleplay {
  width: 17rem;
  height: 5rem;
  background-image: url("../img/googleplay.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

#teasers {
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagewrapper {
  width: 95%;
  height: 30rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.imageparent {
  width: 100%;
  height: 30rem;
  overflow: hidden; }

.imagecard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../img/workstation.png");
  background-size: cover;
  background-position: center;
  transition: all 1.5s ease; }

.imagecard:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75); }

.imageparent:hover .imagecard,
.imageparent:focus .imagecard {
  transform: scale(1.2); }

.imageparent:hover .imagecard:before,
.imageparent:focus .imagecard:before {
  display: block; }

span {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  z-index: 1; }

footer {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  background-color: #FFFFFF; }

.footer-logo {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 1rem; }

.contact {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem; }

.contact-logo {
  color: #000000;
  font-family: "Raleway", sans-serif; }

.contact-info {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.mini-logowrapper {
  display: flex;
  flex-direction: row; }

.mini-logo {
  width: 40px;
  height: 40px;
  margin: 0.2rem; }

.insta {
  background-image: url("../img/insta.png");
  background-size: cover;
  background-repeat: no-repeat; }

.face {
  background-image: url("../img/facebook.png");
  background-size: cover;
  background-repeat: no-repeat; }

.git {
  background-image: url("../img/github.png");
  background-size: cover;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
