@mixin flex-center(){
    display:flex;
    justify-content:center;
    align-items:center;
}

$font-family: 'Raleway', sans-serif;
$logo-color: #FFFFFF;

body {
    background-color:#eee;
    margin:0;
}

//Nav  

.nav-menu {
    width:100%;
    height:4rem;
    position:fixed;
    z-index:1;
    transition: all 0.4s linear;
}

.nav-ul {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    list-style-type: none;
}

.menu-item {
    text-decoration:none;
    font-family: $font-family;
    font-size:1.5rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    color:#000000;
}

// main img 

.startwrapper {
    @include flex-center;
    width:300px;
    height:300px;
}

#start {
    width:100vw;
    height:100vh;
    background-image:url('../img/starter1.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    @include flex-center;
}

.startlogo {
    position:relative;
    color: $logo-color;
    font-family: $font-family;
    font-size:10rem;
    margin-left:1200px;
    opacity: 0;
}


// info section

#info {
    width:100%;
    height:100%;
}

.info-wrapper {
    @include flex-center;
    flex-direction:column;
}

.info {
    width:60rem;
    height:15rem;
    @include flex-center;
}

.info-text {
    font-family: $font-family;
    color:#000000;
    font-size:2rem;
    text-align:center;
}

.hidden {
    display:none;
}

.info-logo {
    width:40rem;
    height:5rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.appstore {
    width:17rem;
    height:5rem;
    background-image:url("../img/appstorelogo.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.googleplay {
    width:17rem;
    height:5rem;
    background-image:url("../img/googleplay.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
}

/// teasers 

#teasers {
    margin-top:5rem;
    height:100%;
    width:100%;
    @include flex-center;
}

.imagewrapper{
    width: 95%;
    height:30rem;
    flex-direction: column;
    @include flex-center;
}

.imageparent {
    width:100%;
    height:30rem;
    overflow: hidden;
}

.imagecard {
    @include flex-center;
    flex-direction:column;
    width:100%;
    height:100%;
    background-image:url("../img/workstation.png");
    background-size:cover;
    background-position: center;
    transition: all 1.5s ease;
}

.imagecard:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.imageparent:hover .imagecard,
.imageparent:focus .imagecard{
    transform:scale(1.2);
}

.imageparent:hover .imagecard:before,
.imageparent:focus .imagecard:before {
    display: block;
}

span {
  color: white; /* Good thing we set a fallback color! */
  font-family: $font-family;
  font-size:1.5rem;
  z-index:1;
}







